name: Dockerize PHP App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code from GitHub
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker images defined in docker-compose.yml
      - name: Build and Push Docker Compose images
        run: |
          docker-compose -f phpmyadmin.yml build  # Build all images defined in the compose file
          docker-compose -f phpmyadmin.yml push   # Push all images to Docker Hub

      # Optionally, you can run tests here after starting the services (if necessary)
      - name: Run tests
        run: |
            docker-compose exec app ./run_tests.sh
